$color:#337ab7;

.react-calendar-timeline{
     .rct-sidebar { 
         .rct-sidebar-header{
             background:$color;
         }
     }

     .rct-header{ 
         .rct-label-group
         {
            background: $color;
         }
    }
}